@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.root {
  width: 100%;
}
